/* Customizing the DatePicker wrapper */
.react-datepicker {
  border: none !important;
  font-family: inherit !important;
  display: flex !important;
}

.react-datepicker__header {
  background-color: white !important;
  border-bottom: none !important;
}

.react-datepicker__day--in-range {
  background-color: #f7f7f7 !important;
  color: #222222 !important;
  border-radius: 0 !important;
}

.react-datepicker__day--range-start,
.react-datepicker__day--range-end {
  background-color: #222222 !important; /* Airbnb uses black or rose for start/end */
  color: white !important;
  border-radius: 50% !important;
}

.react-datepicker__day--keyboard-selected {
  background-color: transparent !important;
}